<div class="brand">      
      <div class="container">    
          <a href="http://sh33tal.github.io"><h1><b>Hetal Patel</b>!</h1></a>              
          <h2 class="subtitle">Innovating and Learning through Software</h2>
          <ul class="social-links">
            <li><a href= "https://uk.linkedin.com/pub/hetal-patel/0/a94/54" class="ss-icon ss-social-circle">LinkedIn</a></li>  
       {{ with .Site.Params.facebook }}
            <li><a href="http://facebook.com" class="ss-icon ss-social-circle">Facebook</a></li>
       {{end}}                            
            <li>&nbsp;</li>
            <li><a href="https://github.com/sh33tal" class="ss-icon ss-social-circle">github</a></li>            
            <li><a href="https://mobile.twitter.com" class="ss-icon ss-social-circle">twitter</a></li>                         
          </ul>
      </div>      
    </div>