<div class="brand">      
      <div class="container">    
          <a href="http://sh33tal.github.io/github.io/"><h1><b>Hetal Patel</b>!</h1></a>              
          <h2 class="subtitle">Innovating and Learning through Software</h2>
          <ul class="social-links">
            <li><a href="http://flickr.com/photos/" class="ss-icon ss-social-circle">flickr</a></li>      
            <li><a href="http://facebook.com" class="ss-icon ss-social-circle">facebook</a></li>                            
            <li>&nbsp;</li>
            <li><a href="https://github.com/sh33tal/github.io" class="ss-icon ss-social-circle">github</a></li>            
            <li><a href="https://mobile.twitter.com" class="ss-icon ss-social-circle">twitter</a></li>                         
            <li>&nbsp;</li>            
            <li><a href="/index.xml" class="ss-icon ss-social-circle">rss</a></li>
          </ul>
      </div>      
    </div>